@charset "UTF-8";
    
body {
    background-color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
}

a:link {
    color: rgb(42, 141, 180);
}

a:visited {
    color: rgb(42, 141, 180);
}

a:hover {
color: rgb(39, 177, 231)
}

a:active {
    color: rgb(100, 200, 240)
}